.btn-heart {
  padding: 0%;
  border: none;
}

.card {
  border: #808080 solid 1px;
  width: 10rem;
  margin: 0 auto;
  float: none;
}

.card-img-top {
  width: 110px;
  height: 100px;
  margin-left: 1.5em;
}

.card-body {
  padding: 0%;
}

li {
  border: #808080 solid 1px;
}

.list-group-item {
  padding: 6px 8px;
  width: 53px;
}
