<!--app-botao-voltar></!app-botao-voltar>
<app-botao-logout></app-botao-logout>
<div-- class="container-fluid">
  <div class="text-center mt-3" style="color: #FFFFFF;">
    <h2>{{ literals.jogoCoresFrutasDescricao }}</h2>
    <p>{{ literals.jogoCoresFrutasDica }}</p>
  </div>
  <div class="row text-center" cdkDropListGroup>
    <div class="container mt-5">
        <div class="col-6">
          <div class="drop-place">
            <div *ngFor="let drop of listaDrop" [ngStyle]="{'margin-top':drop.posicaoY, 'margin-left':drop.posicaoX}">
              <div class="drop icons" cdkDropList [cdkDropListData]="drop.puzzleList" (cdkDropListDropped)="dropResposta($event, drop)">
              <img *ngFor="let puzzle of drop.puzzleList" [cdkDragDisabled]="acertouTudo" cdkDrag [src]="puzzle.imagem" class="icons">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-6 mt-4">
        <div class="puzzle-list" cdkDropList [cdkDropListData]="formas" (cdkDropListDropped)="drop($event)">
          <img *ngFor="let parte of formas" [cdkDragDisabled]="acertouTudo" cdkDrag [src]="parte.imagem" class="icons">
        </div>
      </div>
    </div>
  </div>
  <div class="footer">
    <app-reload></app-reload>
    <app-reacoes-leo [ativarCurioso]="ativarLeoCurioso" [ativarFeliz]="ativarLeoFeliz" [ativarTriste]="ativarLeoTriste" [ativarOk]="acertouTudo"></app-reacoes-leo>
    <app-perfil [podeRecarregar]="recarregarPerfil"></app-perfil>
  </div>
</div-->
