<app-btn-back></app-btn-back>
<app-perfil></app-perfil>
<app-reacoes></app-reacoes>
<app-reload></app-reload>
<app-sound></app-sound>
<div class="container-fluid">
  <div class="text-center mt-3" style="color: #FFFFFF;">
    <h2>{{ literals.jogoClimaDescricao }}</h2>
    <p>{{ literals.jogoClimaDica }}</p>
  </div>
  <div class="row" cdkDropListGroup>
    <div class="col-md-4 text-center" *ngFor="let coluna of colunas">
      <div class="block">
        <div  *ngIf="coluna.img != ''"><img [src]="coluna.img" class="clima-img" (mouseenter)="lerTexto(coluna.literals)" (mouseleave)="parar()"></div>
        <div  *ngIf="coluna.img == ''" class="p40"></div>
        <div class="container-fluid" #dropList cdkDropList [cdkDropListData]="coluna.puzzleItems" (cdkDropListDropped)="drop($event, coluna)">
          <img width="100px" height="100px" *ngFor="let puzzle of coluna.puzzleItems" [cdkDragDisabled]="false" cdkDrag [src]="puzzle.imagem" class="icons" (mouseenter)="lerTexto(puzzle.nome)" (mouseleave)="parar()">
        </div>
      </div>
    </div>
  </div>
</div>
