<app-btn-back></app-btn-back>
<app-perfil></app-perfil>
<app-reacoes></app-reacoes>
<app-reload></app-reload>
<app-sound></app-sound>
<div class="container-fluid">
  <div class="text-center mt-3" style="color: #FFFFFF;">
    <h2>{{ literals.jogoQtdeFormasDescricao }}</h2>
    <p>{{ literals.jogoQtdeFormasDica }}</p>
  </div>
  <div class="row text-center" cdkDropListGroup>
    <div class="container">
        <div class="col-6">
          <div class="drop-place">
            <div *ngFor="let drop of listaDrop" [ngStyle]="{'margin-top':drop.posicaoY, 'margin-left':drop.posicaoX}">
              <div class="drop icons" cdkDropList [cdkDropListData]="drop.puzzleList" (cdkDropListDropped)="dropResposta($event, drop)" (mouseenter)="lerTexto(drop.nome)" (mouseleave)="parar()">
                <img *ngFor="let puzzle of drop.puzzleList" [cdkDragDisabled]="acertouTudo" cdkDrag [src]="puzzle.imagem" class="icons">
              </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <div class="puzzle-list" cdkDropList [cdkDropListData]="formas" (cdkDropListDropped)="drop($event)">
          <img *ngFor="let parte of formas" [cdkDragDisabled]="acertouTudo" cdkDrag [src]="parte.imagem" class="icons" (mouseenter)="lerTexto(parte.nome)" (mouseleave)="parar()">
        </div>
      </div>
    </div>
  </div>
  <div class="footer">
  </div>
</div>
